body:hover{
    color:red;
}
body{
    background-color: darkgrey;
    padding: 40px 20px 40px;
}
h1{
    font-size: 30px;
}
form{
    background-color:aliceblue;
    padding: 20px;
    border-radius: 10px;
    
}
input[type="submit"]{
    color:green;
}
