body:hover{
    color:red;
}
body{
    background-color: darkgrey;
    padding: 40px 20px 40px;
}
h1{
    font-size: 30px;
    font-fafmily:ui-sans-serif;
}
form{
    display:flex;
    flex-direction:column;
    background-color:aliceblue;
    padding: 20px;
    border-radius: 10px;
    
}
input[type="submit"]{
    color:green;
    border-radius: 10px;
    width:66px;
    justify-content:center;
    align-content:center;
}
